<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Awesome Test Messaging App!</h2>
    <hr />
    @Html.ActionLink("View All Messages", "GetMessages")
    <br />
    @Html.ActionLink("Send a new message", "SendMessage")
    <br />
</body>
</html>